{% extends 'museum_app/base.html' %}
{% block content %}
    <h1>Add Item</h1>

                      <div class="tab-pane active" id="post-object-form">

                        <form action="/api/items/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">

                            <input type="hidden" name="csrfmiddlewaretoken" value="80WLm5Rw1ycLAcdkvsFgafoSP2YVh3lnuTloAuLwYG8RHBu3HRR3MCYH9xh20HvE">





  <div class="form-group ">

  <label class="col-sm-2 control-label ">
    Item name
  </label>


<div class="col-sm-10">
  <input name="item_name" class="form-control" type="text" value="">




</div>
</div>




  <div class="form-group ">

  <label class="col-sm-2 control-label ">
    Item description
  </label>


<div class="col-sm-10">
  <textarea name="item_description" class="form-control"></textarea>




</div>
</div>




  <div class="form-group ">

  <label class="col-sm-2 control-label ">
    Category
  </label>


<div class="col-sm-10">
  <input name="category" class="form-control" type="text" value="">




</div>
</div>




  <div class="form-group ">

  <label class="col-sm-2 control-label ">
    Price
  </label>


<div class="col-sm-10">
  <input name="price" class="form-control" type="text" value="">




</div>
</div>




  <div class="form-group ">

  <label class="col-sm-2 control-label ">
    Quantity
  </label>


<div class="col-sm-10">
  <input name="quantity" class="form-control" type="number" value="">




</div>
</div>






<div class="form-group">

  <label class="col-sm-2 control-label ">
    Exhibit
  </label>


<div class="col-sm-10">
  <select class="form-control" name="exhibit">
    <option value="" selected="">--------</option>
  {% for i in exhibits %}


          <option value="{{i.id}}">{{i.name}}</option>

    {% endfor %}
  </select>




</div>
</div>






<div class="form-group">

  <label class="col-sm-2 control-label ">
    Owner
  </label>


<div class="col-sm-10">
  <select class="form-control" name="owner">

      <option value="" selected="">--------</option>



          <option value="1">Sannvah</option>



          <option value="2">Quang</option>



          <option value="3">David</option>



          <option value="4">test</option>



          <option value="5">Jacob</option>



          <option value="6">Jack</option>



          <option value="7">Alex</option>



          <option value="8">Belle</option>



          <option value="9">ren</option>



          <option value="10">Jonas</option>



          <option value="98">Thing-A-bob</option>


  </select>




</div>
</div>




                            <div class="form-actions">
                              <button class="btn btn-primary js-tooltip" title="" data-original-title="Make a POST request on the Item List resource">POST</button>
                            </div>

                        </form>

                    </div>







{% endblock %}