<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Delete Data | Thing-A-Bob Museum</title>
    <script>
        "use strict";
        const deleteConfirm = () => {
            firstButton = document.getElementById('deleteConfirm');
            confirmation = document.getElementById('delete');
            cancelButton = document.getElementById('back');
            firstButton.addAttribute('hidden');
            confirmation.removeAttribute('hidden');
            cancelButton.removeAttribute('hidden');
        }
        const goBack = () => {
            cancelButton.addAttribute('hidden');
            confirmation.addAttribute('hidden');
            firstButton.removeAttribute('hidden');
        }
    </script>
</head>

<body>
    <h1>Delete Data</h1>
    <p>What table would you like to delete data from?</p>
    <form action="/api/v2/deleteResponse" method="post">
        <select name="table" id="select">
            <option value="">--select--</option>
            <option>Exhibit</option>
            <option>Item</option>
            <option>Person</option>
            <option>Transaction</option>
            <option value="transaction-item">TransactionItem</option>
        </select>
        <button id="deleteConfirm">Delete</button>
        <button type="submit" id="delete" hidden="">Confirm Delete</button>
        <button id="back" hidden="">Cancel</button>
    </form>

</body>

</html>