<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>Thing-A-Bob Museum</title>
</head>

<body>
    <h1>Thing-A-Bob Museum</h1>
    <br>
    <form action="" method="post"><button id="add" type="submit">Add data</button></form>
    <form action="" method="post"><button id="remove" type="submit">Remove data</button></form>
    <form action="" method="get"><button id="read" type="submit">Read data</button></form>
    <form action="" method="post"><button id="update" type="submit">Update data</button></form>
    <h2>Advanced</h2>
    <form action="" method="get"><button id="Popularity">Exhibit Popularity Report</button></form>
    <form action="" method="get"><button id="cutoff" type="submit">Cut-Off Price</button></form>
</body>

</html>