{% extends 'museum_app/base.html' %}
{% block content %}
<br>
<h1 class = "text-center">Thing-a-bob museum Popularity Reports</h1>
<br>
<form action ="{% url 'generate_popularity_report' %}" method="post">
    {% csrf_token %}
    <h4 class = "text-center"><button type="submit" class = "btn btn-primary">Generate Popularity Reports</button></h4>
</form>

{% if messages %}
    {% for messages in messages %}
        <p {% if message.tag %} class="{{  message.tag  }}" {% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}
<br>

<table class="table table-striped table-bordered">
    <thread>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Exhibit Rating</th>
            <th>Exhibit ID</th>
        </tr>
    </thread>
    <tbody>
        {% for popularityreport in popularity_reports %}
        <tr>
            <td>{{ popularityreport.title }}</td>
            <td>{{ popularityreport.start_date }}</td>
            <td>{{ popularityreport.end_date }}</td>
            <td>{{ popularityreport.rating }}</td>
            <td>{{ popularityreport.exhibit_id }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No popularity report available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
