{% extends 'museum_app/base.html' %}
<!-- museum_app/templates/museum_app/home.html -->
{% block content %}
    <style>
        table {
            border: 1px solid black;
        }
        th {
            border: 1px solid black;
        }
        td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
    <script>
        "use strict";
        // console.log("loaded");
        const getData = () => {
            // console.log("start");
            const formOption = document.getElementById("select");
            // console.log("input:" + formOption.value);
            const route = "/api/" + formOption.value.toLowerCase() + "s/?format=json";
            // console.log("route:" + route);
            fetch(route, {
                method: 'GET',

            }).then(res => res.json()).then(data => {
                if (data){
                    // console.log(data);
                    const first = data[0];
                    // console.log('first' + first);
                    let thead = document.createElement('thead');
                    for (let i in first){
                        let tableHeadCell = document.createElement('th');
                        tableHeadCell.innerHTML = i;
                        thead.appendChild(tableHeadCell);
                    }
                    let dataTable = document.getElementById('dataTable');
                    document.getElementById('dataTable').innerHTML = thead.innerHTML;
                    for (let r of data){
                        let tableRow = document.createElement('tr');
                        for (let i in r){
                            let dataElem = document.createElement('td');
                            dataElem.innerHTML = r[i];
                            tableRow.appendChild(dataElem);
                        }
                        dataTable.appendChild(tableRow);
                    }
                }else{
                    console.log('error fetch');
                }
            });
            return 1;
        }
    </script>
    <h1>Read Data</h1>
    <p>What table would you like to read data from?</p>

        <select name="table" id="select">
            <option value="">--select--</option>
            <option>Exhibit</option>
            <option>Item</option>
            <option>Visit</option>
            <option>Person</option>
            <option>Transaction</option>
            <option value="transaction-item">TransactionItem</option>
        </select>
        <button onclick="getData()">Get</button>
        <table id="dataTable"></table>

{% endblock %}