<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Update Data | Thing-A-Bob Museum</title>
    <h1>Update Data</h1>
    <p>What type of object do you need to udpate</p>
    <form action="/api/v2/updateResponce" method="get">
        <select name = "table">
            <option value="">--select--</option>
            <option>Exhibit</option>
            <option>Item</option>
            <option>Person</option>
            <option>Transaction</option>
            <option>TransactionItem</option>
            <option>View</option>
        </select>
        <label for = "objectID">ID of Object</label>
        <input type="text",id="objectID",name="objectID"><br><br>
        <input type = "subject" value="subject">
    </form>
</head>
