<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Update Exhibit</title>
    <script>
        "use strict";
        console.log("loaded");
        const getData = () => {
            // console.log("start");
            const formOption = 'Exhibit';
            const id = document.getElementById('inputID');
            document.getElementById('formID').value = id.value;
            // console.log("input:" + formOption.value);
            const route = "/api/" + formOption.toLowerCase() + "s/" + id.value + "?format=json";
            console.log("route:" + route);
            fetch(route, {
                method: 'GET'
            }).then(res => res.json()).then(data => {
                console.log(data);
                if (data.id == document.getElementById('inputID').value){
                    let elem = document.createElement('input');
                    let updateFields = document.getElementById('updateFields');
                    updateFields.innerHTML = '';
                    for(let i in data){
                      elem = document.createElement('input');
                      if (i.includes('date')){
                        console.log('date' + data[i]);
                        elem.setAttribute('type', 'date');
                        elem.setAttribute('value', data[i]);
                      }else if(i.includes('description') || i.includes('title')){
                        console.log('textarea' + data[i]);
                        elem = document.createElement('textarea');
                        elem.innerHTML = data[i];
                      }else if (i === 'id'){
                        console.log('id' + data[i]);
                        elem = document.createElement('p');
                        elem.innerHTML = 'ID: ' + data[i];
                      }else{
                        console.log('else' + data[i]);
                        elem.setAttribute('type', 'text');
                        elem.setAttribute('value', data[i]);
                      }
                      console.log('append child');
                      if (i !== 'id'){
                        elem.setAttribute('id', i);
                        let p = document.createElement('p');
                        p.innerHTML = i + ': ';
                        updateFields.appendChild(p);
                      }
                      updateFields.appendChild(elem);
                      updateFields.appendChild(document.createElement('br'));
                    }
                    document.getElementById('start').setAttribute('hidden', 'true');
                    const resetButton = document.createElement('button');
                    resetButton.setAttribute('id', 'resetButton');
                    resetButton.setAttribute('onclick', 'reset()');
                    resetButton.innerHTML = 'Go Back';
                    document.getElementById('body').appendChild(resetButton);
                    updateFields.removeAttribute('hidden');
                    console.log('data set');
                }else{
                    console.log('error fetch');
                }
            });
            return 1;
        }
        const reset = () => {
            document.getElementById('start').removeAttribute('hidden');
            document.getElementById('updateFields').setAttribute('hidden', '');
            document.body.removeChild(document.getElementById('resetButton'));
        }
    </script>
</head>

<body id="body">
    <div id="start">
        Enter the ID of an exhibit: <input type="text" id="inputID">
        <br><br>
        <button onclick="getData()">Submit</button>
    </div>
    <form action="/api/v2/updateData/exhibit" method="post">
    <div id="updateFields" hidden="">
        <p>Update the data below as needed:</p>
      <input type="text" name="id" id="formID">
        {% csrf_token %}
    </div></form>
</body>

</html>