<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>Thing-A-Bob Museum</title>
</head>

<body>
    <h1>Thing-A-Bob Museum</h1>
    <br>
    <h2>Add data</h2>
    <form action="" method=""><button id="AddItem">Add Item</button></form>
    <br><br>
    <form action="" method=""><button id="AddTransaction">Add Transaction</button></form>
    <br><br>
    <form action="" method=""><button id="AddPerson">Add Person</button></form>
    <br><br>
    <form action="" method=""><button id="AddExhibit">Add Exhibit</button></form>
    <br><br>
    <h2>Remove data</h2>
    <form action="" method=""><button id="DelItem">Remove Item</button></form>
    <br><br>
    <form action="" method=""><button id="DelTransaction">Remove Transaction</button></form>
    <br><br>
    <form action="" method=""><button id="DelPerson">Remove Person</button></form>
    <br><br>
    <form action="" method=""><button id="DelExhibit">Remove Exhibit</button></form>
    <br><br>
    <h2>Read data</h2>
    <form action="" method=""><button id="ReadItem">Items</button></form>
    <br><br>
    <form action="" method=""><button id="ReadTransaction">Transactions</button></form>
    <br><br>
    <form action="/api/person" method="get"><button id="ReadPerson">People</button></form>
    <br><br>
    <form action="" method=""><button id="ReadExhibit">Exhibits</button></form>
    <br><br>
    <h2>Update data</h2>
    <form action="" method=""><button id="UpdateItem">Update Item</button></form>
    <br><br>
    <form action="" method=""><button id="UpdateTransaction">Update Transaction</button></form>
    <br><br>
    <form action="" method=""><button id="UpdatePerson">Update Person</button></form>
    <br><br>
    <form action="" method=""><button id="UpdateExhibit">Update Exhibit</button></form>
    <br><br>
    <h2>Advanced</h2>
    <form action="" method=""><button id="Popularity">Exhibit Popularity Report</button></form>
</body>

</html>